openai
python-dotenv
langchain
langchain-openai
langchain-community
langgraph
databricks-langchain
databricks-ai-search
databricks-sdk
faiss-cpu
langchain_chroma
langchain-postgres
langgraph-checkpoint-postgres
psycopg[binary]
pgvector
ipykernel
ipywidgets
tiktoken
mlflow
iprogress
pprintpp
pypdf
bs4
markitdown 
streamlit
streamlit-chat
tavily-python
pandas
fastmcp